{% extends 'style/course_style.html' %}


  {%block ol%}
  <li class="breadcrumb-item">單元二：了解數據圖形化分析</li>
  <li class="breadcrumb-item active"><a href="/part1_Ch2_1">計算平均</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch2_2">計算百分位數</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch2_3">繪製ECDF:比較百分位數</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch2_4">繪製盒鬚圖</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch2_5">計算變異數</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch2_6">計算標準差與變異數</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch2_7">繪製散佈圖</a></li>
  <li class="breadcrumb-item">計算共變異數</li>
  <li class="breadcrumb-item"><a href="/part1_Ch2_9">計算皮爾生相關係數</a></li>
  {% endblock  %}
  

  {% block title1 %}
   <h2>共變異數</h2>

    <h2>第八題:計算共變異數</h2>
    <p>
        使用 <code>np.cov()</code> 計算共變異數，如：有兩份資料集分別為 <code>x</code> 與 <code>y</code> 計算它們的共變異數只要以 <code>np.cov(x , y)</code> 就會回傳一個二維陣列，這個二維陣列就是所謂的共變異數矩陣，位置在 <code>[ 0 , 1 ]</code> 與 <code>[ 1 , 0 ]</code> 的值是 <code>x、y</code> 的共變異數， <code>[ 0 , 0 ]</code> 為 <code>x</code> 的自變異數、 <code>[ 1 , 1 ]</code> 為 <code>y</code> 的自變異數。
    </p>
    <p>
        注意：花瓣寬度與長度是有相關性的，包括上一題的題目也是。
    </p>
   {% endblock%}
{% block comlen%} 
   
      <a href="/part{{part}}_Ch{{ch}}_9" class="btn btn-info btn-lg">進行下一題</a>
      <a href="/part{{part}}_Ch{{ch}}_8" class="btn btn-info btn-lg">再練習一次</a>
    
      {% endblock %}
 {% block title2%}
    <h2>說明</h2>
 
       <li class="title-li">使用 <code>np.cov()</code> 計算鳶尾花花瓣寬度與長度的共變異數矩陣，並存放於變數 <code>covariance_matrix</code> 。</li>

       <li class="title-li">輸出共變異數矩陣。</li>
       
       <li class="title-li">從共變異數矩陣中取出位置 <code>[ 0 , 1 ]</code> 的共變異數，並以變數 <code>petal_cov</code> 儲存，
       請注意 <code>[ 1 , 0 ]</code> 與 <code>[ 0 , 1 ]</code> 的值是一樣的，若有不同就不為共變異數。</li>
       
       <li class="title-li">輸出共變異數。</li>
       
  {% endblock %}

      {% block form %}
  <a href='/part1_Ch2_7'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 上一題</button></a>

  <a href='/part1_Ch{{ch}}_synopsis'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 回課綱</button></a>

  <a href='/part1_Ch2_9'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 下一題</button></a>
    {% endblock %} 
