{% extends 'style/course_style.html' %}


  {%block ol%}
  <li class="breadcrumb-item">單元五：一個案例研究</li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_1">達爾文雀科喙深度的EDA</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_2">喙深度的ECDF</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_3">喙深度的參數估計</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_4">假設檢定：2012年喙是否更深？</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_5">喙長度和深度的EDA</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_6">線性回歸</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_7">顯示線性回歸結果</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_8">喙長與深度比</a></li>
  <li class="breadcrumb-item">遺傳力的EDA</li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_10">後代與父母數據的關聯</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_11">Pearson相關的後代和父母的數據</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_12">測量遺傳力</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_13">在G. scandens中，深的喙會遺傳嗎？</a></li>

  {% endblock  %}
  

  {% block title1 %}
    <p>
    數組 <code>bd_parent_scandens</code> 包含物種 <code>Geospiza scandens</code> 的兩個親本的平均喙深度（以 <code>mm</code> 為單位）。 數組 <code>bd_offspring_scandens</code> 包含相應父母的後代的平均喙深度。 陣列 <code>bd_parent_fortis</code> 和 <code>bd_offspring_fortis</code> 包含與 <code>G. fortis</code> 鳥類相關的測量信息。
    </p>
    <p>
    製作兩個物種的平均後代喙深度（ <code>y</code> 軸）與平均親本喙深度（ <code>x</code> 軸）的散點圖。 使用 <code>alpha = 0.5</code> 關鍵字參數來幫助您查看重疊點。
    </p>

   {% endblock%}
                     {% block comlen%} 
   
      <a href="/part{{part}}_Ch{{ch}}_10" class="btn btn-info btn-lg">進行下一題</a>
      <a href="/part{{part}}_Ch{{ch}}_9" class="btn btn-info btn-lg">再練習一次</a>
    
      {% endblock %}


 {% block title2%}
    <h2>說明</h2>
 
       <li class="title-li">生成兩個物種的點散圖。 顯示藍色 <code>G. fortis</code> 和紅色 <code>G. scandens</code> 的數據。</li>

       <li class="title-li">設置 <code>2%</code> 邊距，標註坐標軸，繪製圖例，並顯示繪圖。</li>
 
  {% endblock %}

      {% block form %}
      
 <a href='/part2_Ch5_8'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 上一題</button></a>
        
  <a href='/part2_Ch{{ch}}_synopsis'><button type="button" class="btn btn-info"><span class="oi oi-grid-three-up"></span> 回課綱</button></a>

  <a href='/part2_Ch5_10'><button type="button" class="btn btn-info"><span class="oi oi-chevron-right"></span> 下一題</button></a>
    {% endblock %} 
