{% extends 'style/course_style.html' %}


  {%block ol%}
  <li class="breadcrumb-item">單元五：一個案例研究</li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_1">達爾文雀科喙深度的EDA</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_2">喙深度的ECDF</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_3">喙深度的參數估計</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_4">假設檢定：2012年喙是否更深？</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_5">喙長度和深度的EDA</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_6">線性回歸</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_7">顯示線性回歸結果</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_8">喙長與深度比</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_9">遺傳力的EDA</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_10">後代與父母數據的關聯</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_11">Pearson相關的後代和父母的數據</a></li>
  <li class="breadcrumb-item">測量遺傳力</li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_13">在G. scandens中，深的喙會遺傳嗎？</a></li>

  {% endblock  %}
  

  {% block title1 %}
    <p>
    請注意，的 <code>Pearson</code> 相關係數是兩個數據集的共變異數與父母變異數的比值。這是家長和後代之間相關性的度量，但可能不是遺傳力的最佳估計。如果我們停下來思考，將遺傳性定義為父母與後代之間的共變異數與單親家長變異性的比例更為有意義。在本練習中，您將估計遺傳率並執行配對引導計算以獲得的 <code>95％</code> 信賴區間。
    </p>
    <p>
    這個練習突出了非常重要的一點。統計推斷（和一般數據分析）不是一個插件企業。您需要仔細考慮您正在尋求的數據回答問題，並對其進行適當分析。如果您對遺傳性狀如何感興趣，那麼我們定義為遺傳性的數量比現成的統計量的 <code>Pearson</code> 相關係數更為容易。
    </p>
    <p>
   請注意，數據存儲在的 <code>bd_parent_scandens</code> 的， <code>bd_offspring_scandens</code> ，的 <code>bd_parent_fortis</code> 和的 <code>bd_offspring_fortis</code> 中。
   </p>

   {% endblock%}
                     {% block comlen%} 
   
      <a href="/part{{part}}_Ch{{ch}}_13" class="btn btn-info btn-lg">進行下一題</a>
      <a href="/part{{part}}_Ch{{ch}}_12" class="btn btn-info btn-lg">再練習一次</a>
    
      {% endblock %}


 {% block title2%}
    <h2>說明</h2>
 
       <li class="title-li">寫一個 <code>heritability（parents, offspring）</code> ，計算遺傳性定義為父母和子女的性狀協方差的比例除以父母性狀的方差。提示：使用 <code>np.cov（）</code> 函數。</li>

       <li class="title-li">使用這個函數來計算 <code>G. scandens</code> 和 <code>G. fortis</code> 的遺傳力。</li>
       
       <li class="title-li">使用 <code>draw_bs_pairs</code> 獲取 <code>1000</code> 次引導重複的遺傳力 <code>G. scandens</code> 和 <code>G. fortis</code> 。</li>
       
       <li class="title-li">使用 <code>np.percentile</code> 計算兩者的 <code>95％</code> 信賴區間。</li>
       
       <li class="title-li">印出結果。</li>
 
  {% endblock %}

      {% block form %}
      
 <a href='/part2_Ch5_11'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 上一題</button></a>
        
  <a href='/part2_Ch{{ch}}_synopsis'><button type="button" class="btn btn-info"><span class="oi oi-grid-three-up"></span> 回課綱</button></a>

  <a href='/part2_Ch5_13'><button type="button" class="btn btn-info"><span class="oi oi-chevron-right"></span> 下一題</button></a>
    {% endblock %} 
