{% extends 'style/course_style.html' %}


  {%block ol%}
  <li class="breadcrumb-item">單元五：一個案例研究</li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_1">達爾文雀科喙深度的EDA</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_2">喙深度的ECDF</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_3">喙深度的參數估計</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_4">假設檢定：2012年喙是否更深？</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_5">喙長度和深度的EDA</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_6">線性回歸</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_7">顯示線性回歸結果</a></li>
  <li class="breadcrumb-item">喙長與深度比</li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_9">遺傳力的EDA</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_10">後代與父母數據的關聯</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_11">Pearson相關的後代和父母的數據</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_12">測量遺傳力</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch5_13">在G. scandens中，深的喙會遺傳嗎？</a></li>

  {% endblock  %}
  

  {% block title1 %}
    <p>
    線性回歸顯示有關喙幾何的有趣信息。  <code>1975</code> 年和 <code>2012</code> 年的斜率是相同的，這表明，對於在喙長度上獲得的每毫米，鳥類在這兩年中深度達到約半毫米。然而，如果我們對喙的形狀感興趣，我們想比較喙長度與喙深度的比率。我們進行比較。
    </p>
    <p>
    請注意，數據存儲在 <code>bd_1975</code> ， <code>bd_2012</code> ， <code>bl_1975</code> 和 <code>bl_2012</code> 中。
    </p>

   {% endblock%}
                     {% block comlen%} 
   
      <a href="/part{{part}}_Ch{{ch}}_9" class="btn btn-info btn-lg">進行下一題</a>
      <a href="/part{{part}}_Ch{{ch}}_8" class="btn btn-info btn-lg">再練習一次</a>
    
      {% endblock %}


 {% block title2%}
    <h2>說明</h2>
 
       <li class="title-li">製作 <code>1975</code> 年和 <code>2012</code> 年每隻鳥喙長度與深度的比例數組。</li>

       <li class="title-li">計算 <code>1975</code> 年和 <code>2012</code> 年長度與深度的平均值。</li>

       <li class="title-li">使用 <code>draw_bs_reps（）</code> 函數為 <code>1975</code> 和 <code>2012</code> 的平均比率生成 <code>10,000</code> 個拔靴法複製品。</li>
       
       <li class="title-li">獲得 <code>1975</code> 年和 <code>2012</code> 年長度與深度比率的 <code>99％</code> 信賴區間。</li>
       
       <li class="title-li">印出結果。</li>
 
  {% endblock %}

      {% block form %}
      
 <a href='/part2_Ch5_7'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 上一題</button></a>
        
  <a href='/part2_Ch{{ch}}_synopsis'><button type="button" class="btn btn-info"><span class="oi oi-grid-three-up"></span> 回課綱</button></a>

  <a href='/part2_Ch5_9'><button type="button" class="btn btn-info"><span class="oi oi-chevron-right"></span> 下一題</button></a>
    {% endblock %} 
