{% extends 'style/beginner_course_style.html' %}


  {%block ol%}
  <li class="breadcrumb-item">單元一：功能編寫</li>
  <li class="breadcrumb-item"><a href="/python_beginner{{part}}_Ch{{ch}}_1">功能：判斷型別</a></li>
  <li class="breadcrumb-item "><a href="/python_beginner{{part}}_Ch{{ch}}_2">List的特殊宣告(一)</a></li>
  <li class="breadcrumb-item"><a href="/python_beginner{{part}}_Ch{{ch}}_3">List的特殊宣告(二)</a></li>
    <li class="breadcrumb-item"><a href="/python_beginner{{part}}_Ch{{ch}}_4">功能：List相加</a></li>
    <li class="breadcrumb-item active">功能：計算變異數</li>

  {% endblock  %}
  

  {% block title1 %}
    <h2>第五題:功能：計算變異數</h2>
     <p>

    </p>
    <h2>練習</h2>
    <p>
        還記得在 <code><a target="_blank" href="/python_beginner1_Ch2_1">運算式</a></code> 時，做過的計算變異數嗎？<br>
        若不記得或者沒有選課 <code>Python程式入門(一)</code> 的話也沒關係，這次我們要建立一個 <code>List</code> 計算它裡頭數值的變異數。
        <br> 先建立好變數 <code>z=[63, 55, 21.2, 30.75]</code> ，請編寫算出 <code>z</code> 裡頭數字變異數的功能，
        功能名稱以 <code>variance</code> 來命名。
     </p>

   {% endblock%}
{% block comlen%} 
   
      <a href="/python_beginner{{part}}_Ch2_synopsis" class="btn btn-info btn-lg">進入下一課</a>
      <a href="/python_beginner{{part}}_Ch{{ch}}_5" class="btn btn-info btn-lg">再練習一次</a>
    
      {% endblock %}
 {% block title2%}
    <h2>說明</h2>
 
           <li class="title-li">在 <code>def 名稱()</code> 的 <code>()</code> 裡頭先設置一個未知變數</li>
      <li class="title-li">裡頭的運算式，會使用到迴圈，這裡以 <code>for 迴圈</code> 為主。</li>
      <li class="title-li"> 未知變數會因運算的內容而判定資料型別，但若放入 <code>字串(str)。</code> 
      運算裡沒有處理 <code>字串(str)</code> 的程式會發生錯誤。</li>
      <li class="title-li">請以 <code>print( )</code> 作結果的輸出。</li>

      
  {% endblock %}

      {% block form %}
      <a href='/python_beginner{{part}}_Ch{{ch}}_4'><button type="button" class="btn btn-info"><span class="oi oi-chevron-left"></span> 上一題</button></a>

  <a href='/python_beginner{{part}}_Ch{{ch}}_synopsis'><button type="button" class="btn btn-info"><span class="oi oi-grid-three-up"></span> 回課綱</button></a>

  <a href='/python_beginner{{part}}_Ch2_synopsis'><button type="button" class="btn btn-info"><span class="oi oi-chevron-right"></span> 下一題</button></a>
    {% endblock %} 
