{% extends 'style/course_style.html' %}


  {%block ol%}
  <li class="breadcrumb-item">單元三：離散隨機變數與連續隨機變數</li>
  <li class="breadcrumb-item active"><a href="/part1_Ch3_1">產生隨機數</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_2">隨機數與伯努利試驗</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_3">有多少人會拖欠借款？</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_4">銀行是否會虧損</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_5">二項分配抽樣</a></li>
  <li class="breadcrumb-item">用直方圖繪製二項分佈的PMF(機率質量函數)</li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_7">二項式與帕松分佈之間的關係</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_8">2015年的棒球數據是否異常？</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_9">常態分佈的PDF</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_10">常態分佈CDF</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_11">貝爾蒙特賽馬結果為常態分配？</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_12">打破Secretaria紀錄的機會有多少？</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_13">根據不同事件，創作一個自訂函數</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_14">無安打比賽和完全打擊的指數分配</a></li>
  {% endblock  %}
  

  {% block title1 %}


    <h2>第六題:用直方圖繪製二項分佈的PMF(機率質量函數)</h2>
    <p>
        透過 <code>bins</code> 關鍵字參數設置分區的臨界值傳遞給 <code>plt.hist()</code> 。 我們希望以整數為中心。 因此，
        分區的臨界值應為 <code>-0.5,0.5,1.5,2.5...</code> ，最大值 <code>(n_defaults)+ 1.5</code> 。 您可以使用 <code>np.arange()</code> 生成一個這樣的數組，然後從數組中減去 <code>0.5</code> 。
    </p>

   {% endblock%}
{% block comlen%} 
   
      <a href="/part{{part}}_Ch{{ch}}_7" class="btn btn-info btn-lg">進行下一題</a>
      <a href="/part{{part}}_Ch{{ch}}_6" class="btn btn-info btn-lg">再練習一次</a>
    
      {% endblock %}
 {% block title2%}
    <h2>說明</h2>
 
       <li class="title-li">使用 <code>np.arange()</code> ，計算 <code>bin</code> 邊距值，使得 <code>bin</code> 以整數為中心。將結果數組存儲在變量中 <code>bins</code> 。</li>

       <li class="title-li">使用 <code>plt.hist()</code> 繪製的直方圖 <code>n_defaults</code> 與 <code>normed=True</code> 和 <code>bins=bins</code> 關鍵字參數。</li>
       
       <li class="title-li">利用 <code>plt.margins()</code> ，將邊界設為 <code>0.02</code> 。</li>
       
       <li class="title-li">顯示圖形( <code>X、Y標記軸</code>分別設為 <code>number of loan defaults</code> 和 <code>PMF</code> )。</li>
       
  {% endblock %}

      {% block form %}
  <a href='/part1_Ch3_5'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 上一題</button></a>

  <a href='/part1_Ch{{ch}}_synopsis'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 回課綱</button></a>

  <a href='/part1_Ch3_7'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-right" aria-hidden="true"></span> 下一題</button></a>
    {% endblock %} 
