{% extends 'style/course_style.html' %}


  {%block ol%}
  <li class="breadcrumb-item">單元三：離散隨機變數與連續隨機變數</li>
  <li class="breadcrumb-item active"><a href="/part1_Ch3_1">產生隨機數</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_2">隨機數與伯努利試驗</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_3">有多少人會拖欠借款？</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_4">銀行是否會虧損</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_5">二項分配抽樣</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_6">用直方圖繪製二項分佈的PMF(機率質量函數)</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_7">二項式與帕松分佈之間的關係</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_8">2015年的棒球數據是否異常？</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_9">常態分佈的PDF</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_10">常態分佈CDF</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_11">貝爾蒙特賽馬結果為常態分配？</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_12">打破Secretaria紀錄的機會有多少</a></li>
  <li class="breadcrumb-item"><a href="/part1_Ch3_13">根據不同事件，創作一個自訂函數</a></li>
  <li class="breadcrumb-item">無安打比賽和完全打擊的指數分配</li>
  {% endblock  %}
  

  {% block title1 %}


    <h2>第十四題:無安打比賽和完全打擊的指數分配</h2>
    <p>
        現在，您將使用您的採樣函數來計算觀察者的等待時間。無安打比賽的平均等待時間為 <code>764</code> 場，
        完全打擊的平均等待時間為 <code>715</code> 場。
    </p>


   {% endblock%}

{% block comlen%} 
   
      <a href="/setting" class="btn btn-info btn-lg">返回設定</a>
      <a href="/part{{part}}_Ch{{ch}}_14" class="btn btn-info btn-lg">再練習一次</a>
    
{% endblock %}

 {% block title2%}
    <h2>說明</h2>
 
       <li class="title-li">使用上一章寫的 <code>successive_poisson()</code> 函數，從觀察無擊球者和擊球的等待時間的分佈中抽取 <code>100,000</code> 樣本大小。</li>

       <li class="title-li">使用直方圖繪製等待時間的 <code>PDF</code> 。不要忘記必要的關鍵參數。 <code>plt.hist()</code> 應該使用 <code>bins = 100，normed = True和histtype ='step'</code> 。</li>
       
       <li class="title-li"><code>X、Y</code> 標記軸分別為「 <code>waiting times for observing a no-hitter and a hitting of the cycle</code> 」、「 <code>PDF</code> 」。</li>
       
       <li class="title-li">顯示圖形。</li>
       
  {% endblock %}

      {% block form %}
  <a href='/part1_Ch3_13'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 上一題</button></a>

  <a href='/part1_Ch{{ch}}_synopsis'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-list" aria-hidden="true"></span> 回課綱</button></a>

  {% endblock %} 
