<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <!-- Optional theme-->

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    {% load static %}
    <link href="{%static 'open-iconic-master/font/css/open-iconic-bootstrap.css' %}" rel="stylesheet">

<style type="text/css">
    
.navbar{
    color:white;
    background-color:#168E89;
    height:40;
    width:100%;
    margin: 0 auto;
    position: sticky;
    top: 0;
    z-index: 1071;
}
.nav-link{
    color:white;
}
.nav-item{
    padding-right: .45rem;
    padding-left: .85rem;
}



.navbar-dark .navbar-nav .nav-link {
    color: white;

}
body,html{
    overflow-y:auto;
    height:100%;
    width:100%;
  background:#78D6D2;
    
}
body{
    
font-family:Microsoft JhengHei;
}
smap{
    color:white;
    font-size:70px;
    text-align:center;
}
</style>

<nav class="collapse navbar-collapse navbar navbar-expand-lg navbar-dark "  >
  <div class=" navbar-nav-scroll ">
<ul class="navbar-nav bd-navbar-nav flex-row ">
  <li class="nav-item" role="presentation">
      
      {% include './style/login_style.html' %}</il>
<li class="nav-item" role="presentation"><a href='/register' class="nav-link">{% block top_right %} {% endblock %}
 <span class="oi oi-flag"></span> <span  aria-hidden="true">{% block register %} 註冊  {% endblock %} </span> 
</a></li>

 

    </ul>
    
</div>
</nav>

<smap>{{mng}}</smap>