{% extends 'style/course_style.html' %}


  {%block ol%}
  <li class="breadcrumb-item">單元三：介紹假說檢定</li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_1">產生排列樣本</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_2">想像排列樣本</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_3">生成複製樣本</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_4">在假設檢定之前的EDA</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_5">青蛙數據測試</a></li>
  <li class="breadcrumb-item">一個樣本引導假說檢定</li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_7">相同分佈的引導測試</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_8">雙樣本引導假設檢驗的手段差異</a></li>
  {% endblock  %}
  

  {% block title1 %}
    <p>
         另一個青年青蛙青蛙 <code>C</code> ，你想看看青蛙 <code>B</code> 和青蛙 <code>C</code> 是否有類似的衝擊力。不幸的是，你沒有青蛙 <code>C</code> 的衝擊力可用，但你知道他們的平均值為 <code>0.55 N</code> 。因為你沒有原始數據，你不能做一個排列測試，你不能評估這個假設，青蛙 <code>B</code> 和青蛙 <code>C</code> 來自相同的分佈。因此，您將測試另一個較少限制性的假設：青蛙 <code>B</code> 的平均擊打力等於青蛙 <code>C</code> 。
    </p>
    
    <p>
        設置引導假說檢定，您將以平均值作為檢驗統計量。記住，你的目標是計算平均衝擊力小於或等於青蛙 <code>B</code> 觀察到的機率，如果青蛙B的衝擊力的真實平均值等於青蛙 <code>C</code> 的真實平均值為真。您首先翻譯青蛙 <code>B</code> 的所有數據，使平均值為 <code>0.55 N</code> 。這包括從青蛙 <code>B</code> 的每次測量中添加青蛙 <code>C</code> 的平均力並減去青蛙 <code>B</code> 的平均力。這留下了青蛙 <code>B</code> 分佈的其他屬性，如方差。
    </p>


   {% endblock%}
            {% block comlen%} 
   
      <a href="/part{{part}}_Ch{{ch}}_7" class="btn btn-info btn-lg">進行下一題</a>
      <a href="/part{{part}}_Ch{{ch}}_6" class="btn btn-info btn-lg">再練習一次</a>
    
      {% endblock %}

 {% block title2%}
    <h2>說明</h2>
 
      <li class="title-li">轉換青蛙 <code>B</code> 的衝擊力，使其平均值為 <code>0.55 N</code> 。</li>

      <li class="title-li">使用你的 <code>draw_bs_reps（）</code> 函數來獲取你的衝擊力平均值的 <code>10000</code> 次複製樣本。</li>
      
      <li class="title-li">通過找到比青蛙 <code>B</code> 觀察到的平均衝擊力小的拔靴法的重複部分來計算 <code>p</code> 值。注意，這裡關心的變量是 <code>force_b</code> 。</li>

      <li class="title-li">印出 <code>p</code> 值。</li>

       
  {% endblock %}

      {% block form %}
      
  <a href='/part2_Ch3_5'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 上一題</button></a>
      
  <a href='/part2_Ch{{ch}}_synopsis'><button type="button" class="btn btn-info"><span class="oi oi-grid-three-up"></span> 回課綱</button></a>

  <a href='/part2_Ch3_7'><button type="button" class="btn btn-info"><span class="oi oi-chevron-right"></span> 下一題</button></a>
    {% endblock %} 
