{% extends 'style/course_style.html' %}


  {%block ol%}
  <li class="breadcrumb-item">單元三：介紹假說檢定</li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_1">產生排列樣本</a></li>
  <li class="breadcrumb-item">想像排列樣本</li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_3">生成複製樣本</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_4">在假設檢定之前的EDA</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_5">青蛙數據測試</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_6">一個樣本引導假說檢定</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_7">相同分佈的引導測試</a></li>
  <li class="breadcrumb-item"><a href="/part2_Ch3_8">雙樣本引導假設檢驗的手段差異</a></li>
  {% endblock  %}
  

  {% block title1 %}
    <p>
        為了幫助看到排列樣本的工作原理，在本練習中，您將會產生排列樣本並以圖形方式查看。
    </p>
    
    <p>
        我們將再次使用 <code>Sheffield</code> 氣象站的數據，這次考慮到 <code>7</code> 月（一個乾燥的月份）和 <code>11</code> 月（一個潮濕的月份）的月降雨量。我們預計這些可能是分佈不同的，所以我們將採取排列樣本，看看它們的 <code>ECDF</code> 如果它們是相同分佈的，它們將如何看待。
    </p>
    
    <p>
        數據存儲在 <code>Numpy</code> 數組 <code>rain_july</code> 和 <code>rain_november</code> 中。
    </p>
    
    <p>
        作為提醒， <code>permutation_sample（）</code> 具有 <code>permutation_sample（data_1，data_2）</code> 的函數，返回值為 <code>permuted_data [：len（data_1）]</code> ， <code>permuted_data [len（data_1）：]</code> ），其中 <code>permuted_data = np.random.permutation </code> （ <code>np.concatenate（（data_1，data_2））</code> ）。
    </p>

   {% endblock%}
            {% block comlen%} 
   
      <a href="/part{{part}}_Ch{{ch}}_3" class="btn btn-info btn-lg">進行下一題</a>
      <a href="/part{{part}}_Ch{{ch}}_2" class="btn btn-info btn-lg">再練習一次</a>
    
      {% endblock %}

 {% block title2%}
    <h2>說明</h2>
 
      <li class="title-li">寫一個 <code>for</code> 循環到 <code>50</code> 生成排列樣本，計算他們的 <code>ECDF</code> ，並繪製它們。</li>
        <ul>
            <li style="list-style-type:circle">使用 <code>permutation_sample（）</code> 函數從 <code>rain_july</code> 和 <code>rain_november</code> 生成排列樣本。</li>
            <li style="list-style-type:circle">使用 <code>ecdf（）</code> 函數為ECDF</code> 的兩個排列樣本中的每一個生成 <code>ECDF</code> 的 <code>x</code> 和 <code>y</code> 值。</li>
            <li style="list-style-type:circle">將第一個排列樣本（ <code>x_1</code> 和 <code>y_1</code> ）的 <code>ECDF</code> 繪製為點。 對第二個排列樣本（ <code>x_2</code> 和 <code>y_2</code> ）做同樣的操作。</li>
        </ul>

       <li class="title-li">為 <code>rain_july</code> 和 <code>rain_november</code> 數據生成 <code>ECDF</code> 的 <code>x</code> 和 <code>y</code> 值，並分別使用關鍵字參數 <code>color ='red'</code> 和 <code>color ='blue'</code> 繪製 <code>ECDF</code> 。</li>

       <li class="title-li">標記您的坐標軸，設置 <code>2％</code> 的邊距，並顯示您的繪圖。 點擊“執行”來查看圖！</li>

       
  {% endblock %}

      {% block form %}
      
  <a href='/part2_Ch3_1'><button type="button" class="btn btn-info"><span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span> 上一題</button></a>
      
  <a href='/part2_Ch{{ch}}_synopsis'><button type="button" class="btn btn-info"><span class="oi oi-grid-three-up"></span> 回課綱</button></a>

  <a href='/part2_Ch3_3'><button type="button" class="btn btn-info"><span class="oi oi-chevron-right"></span> 下一題</button></a>
    {% endblock %} 
