{% extends 'style/beginner_course_style.html' %}


  {%block ol%}
  <li class="breadcrumb-item">單元二：類別、套件使用</li>
  <li class="breadcrumb-item active">類別</li>
  <li class="breadcrumb-item "><a href="/python_beginner{{part}}_Ch{{ch}}_2">如何使用函式庫</a></li>
  <li class="breadcrumb-item"><a href="/python_beginner{{part}}_Ch{{ch}}_3">Pandas</a></li>
 

  {% endblock  %}
  

  {% block title1 %}
   <h2>第一題:類別</h2>
   <p>
       這裡我們並不會提到太過深入的類別 <code>class</code> 概念。
       <br>通常 <code>class</code> 裡頭會放入大量的函式 <code>def</code>，尤其是在編寫 <code>函式庫</code> 時，
       <code>class , def</code> 都會包覆許多的運算以及判斷，而它們就是為了分辨這些功能，而以較為白話的英文命名。
       以上一堂課的功能例子來說：
<pre class="code-text">
class fa:
    def factorial(x):
        for i in range(x-1 , 1 ,-1):
            x=x*i
        return x
test = 5
print(fa.factorial(test))
</pre>
   </p>
<p>
    上面的例子，我們建立了一個叫做 <code>fa</code> 的 <code>class</code>，而它的裡頭包覆了一項叫做 <code>factorial</code>
    的功能，在 <code>class</code> 的外圈，建立了一個變數 <code>test = 5</code> 
    並將它放入 <code>class</code> 的功能裡頭做運算。<br>
    若放入的不是功能，而是變數，它們也能以 <code>fa.變數</code> 的樣子來使用，這便是 <code>class</code> 的用法。
</p>
<h2>練習：</h2>
     <p>
         做個簡單的小練習，創立一個叫做 <code>test</code> 的 <code>class</code> ，裡頭放入一個變數 <code>num=[1,2,3]</code>
         試著在 <code>class</code> 外頭 <code>print()</code> 輸出。
    </p>
   {% endblock%}
   
{% block comlen%} 
   
      <a href="/python_beginner{{part}}_Ch{{ch}}_2" class="btn btn-info btn-lg">進行下一題</a>
      <a href="/python_beginner{{part}}_Ch{{ch}}_1" class="btn btn-info btn-lg">再練習一次</a>
    
      {% endblock %}
 
 {% block title2%}
    <h2>說明</h2>
 
      <li class="title-li">類別呼叫的方式是以 <code>.</code> 呼叫，可能會是 <code>class.變數</code> 或是 <code>class.def</code>。</li>

      <li class="title-li">請以 <code>print()</code> 作結果的輸出。</li>

      
  {% endblock %}

      {% block form %}
  <a href='/python_beginner{{part}}_Ch{{ch}}_synopsis'><button type="button" class="btn btn-info"><span class="oi oi-grid-three-up"></span> 回課綱</button></a>

  <a href='/python_beginner{{part}}_Ch{{ch}}_2'><button type="button" class="btn btn-info"><span class="oi oi-chevron-right"></span> 下一題</button></a>
    {% endblock %} 
